<!DOCTYPE html>
<html>
<head>
    <title>Subway Chase - Join</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Game Icon" class="header-icon">
        <h1>Subway Chase</h1>
    </header>

    <main>
        <h2>Mache beim Spiel mit!</h2>
        <form method="POST" class="join-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="role">Rolle:</label>
            <select id="role" name="role" required>
                <option value="Polizist">Polizist</option>
                <option value="Korrupt">Korrupter Polizist</option>
                <option value="Dieb">Dieb</option>
            </select>

            <div id="colorContainer" style="display:none;">
            <label for="role">Farbe:</label>
            <select name="color" id="colorSelect">
                <option value="red">Rot</option>
                <option value="green">Grün</option>
                <option value="blue">Blau</option>
            </select>
            </div>

            <label for="start_pos">Deine Startposition:</label>
            <input list="locationList" id="start_pos" name="start_pos" required>
            <datalist id="locationList">
            <option value="Hütteldorf">
            <option value="Zehetnergasse">
            <option value="Hochsatzengasse">
            <option value="Gruschaplatz">
            <option value="Penzing">
            <option value="Ober St.Veit">
            <option value="Braunschweiggasse">
            <option value="Hietzing">
            <option value="Schönbrunn">
            <option value="Meidling Hauptstraße">
            <option value="Längenfeldgasse">
            <option value="Margaretengürtel">
            <option value="Pilgramgasse">
            <option value="Kettenbrückengasse">
            <option value="Karlsplatz">
            <option value="Stadtpark">
            <option value="Breitensee">
            <option value="Landstraße">
            <option value="Schwedenplatz">
            <option value="Speising">
            <option value="Karl-Schwed-Gasse">
            <option value="Leopoldigasse">
            <option value="Alterlaa">
            <option value="Erlaaer Straße">
            <option value="Am Schöpfwerk">
            <option value="Tscherttegasse">
            <option value="Bahnhof Meidling">
            <option value="Niederhofstrasse">
            <option value="Am Europaplatz">
            <option value="Clemens-Holzmeister-Straße">
            <option value="Gußriegelstraße">
            <option value="Laxenburger Str.">
            <option value="Altes Landgut">
            <option value="Troststraße">
            <option value="Reumannplatz">
            <option value="Keplerplatz">
            <option value="Südtiroler Platz - Hauptbahnhof">
            <option value="Taubstummengasse">
            <option value="Matzleinsdorfer Platz">
            <option value="Knöllgasse">
            <option value="Schrankenberggasse">
            <option value="Geiselbergstraße">
            <option value="Enkplatz">
            <option value="Simmering">
            <option value="Haidestraße">
            <option value="Gumpendorfer Straße">
            <option value="Quartier Belvedere">
            <option value="Rennweg">
            <option value="Praterkai">
            <option value="Lobau">
            <option value="Stadlau">
            <option value="Stadlauer Brücke">
            <option value="Praterbrücke">
            <option value="Donaumarina">
            <option value="Donaustadtbrücke">
            <option value="Hardeggasse">
            <option value="Donauspital">
            <option value="Seestadt">
            <option value="Josef-Baumann-Gasse">
            <option value="Zehdengasse">
            <option value="Polgarstraße">
            <option value="Kagraner Brücke">
            <option value="Kagran">
            <option value="Leopoldau">
            <option value="Siemensstraße">
            <option value="Floridsdorf">
            <option value="Carminweg">
            <option value="Alte Donau">
            <option value="Kaisermühlen - VIC">
            <option value="Goethehof">
            <option value="Neue Donau">
            <option value="Donauinsel">
            <option value="Vorgartenstraße">
            <option value="Praterstern">
            <option value="Messe Prater">
            <option value="Krieau">
            <option value="Stadion">
            <option value="Nestroyplatz">
            <option value="Gasometer">
            <option value="Erdberg">
            <option value="Schlachthausgasse">
            <option value="Kardinal-Nagl-Platz">
            <option value="Rochusgasse">
            <option value="Traisengasse">
            <option value="Taborstraße">
            <option value="Handelskai">
            <option value="Schottenring">
            <option value="Dresdner Straße">
            <option value="Jägerstraße">
            <option value="Spittelau">
            <option value="Friedensbrücke">
            <option value="Roßauer Lände">
            <option value="Heiligenstadt">
            <option value="Oberdöbling">
            <option value="Schottentor Universität">
            <option value="Rathaus">
            <option value="Stubentor">
            <option value="Stephansplatz">
            <option value="Herrengasse">
            <option value="Volkstheater">
            <option value="Museumsquartier">
            <option value="Neubaugasse">
            <option value="Zieglergasse">
            <option value="Westbahnhof">
            <option value="Burggasse">
            <option value="Thaliastraße">
            <option value="Josefstädter Straße">
            <option value="Währinger Straße">
            <option value="Nußdorfer Straße">
            <option value="Schweglerstraße">
            <option value="Johnstraße">
            <option value="Hütteldorfer Straße">
            <option value="Kendlerstraße">
            <option value="Ottakring">
            <option value="Hernals">
            <option value="Gersthof">
            <option value="Krottenbachstr.">
            <option value="Aumannplatz">
        </datalist>
            <input type="submit" value="Los Gehts!" class="join-btn">
        </form>
        <script>
            const roleSelect = document.getElementById("role");
            const colorContainer = document.getElementById("colorContainer");

            roleSelect.addEventListener("change", () => {
                if (roleSelect.value === "Polizist" || roleSelect.value === "Korrupt") {
                    colorContainer.style.display = "block";
                } else {
                    colorContainer.style.display = "none";
                }
            });

            // Initial prüfen
            if (roleSelect.value === "Polizist" || roleSelect.value === "Korrupt") {
                colorContainer.style.display = "block";
            }
        </script>
    </main>
</body>
</html>